<div class="page-header">
  <h2>Administradores - <%= link_to 'Adicionar Administrador', 
    new_administrador_administrador_path, :class => 'btn' %></h2>
</div>

<table class="table table-striped table-bordered" id="sortTable">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @administradores.each do |administrador| -%>
      <tr>
        <td><%= administrador.id %></td>
        <td><strong><%= link_to administrador.nome, [:administrador, administrador] %></strong></td>
        <td><%= administrador.telefone %></td>
        <td>
          <%= link_to 'Editar', edit_administrador_administrador_path(administrador),
            :class => 'btn btn-mini' %>
          <%= link_to 'Deletar', administrador_administrador_path(administrador), :method => :delete,
            :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
