<div class="page-header">
  <h2>Séries - <%= link_to 'Adicionar Série', 
    new_administrador_series_path, :class => 'btn' %></h2>
</div>

<table class="table table-striped table-bordered" id="sortTable">
  <thead>
    <tr>
      <th>#</th>
      <th>Título</th>
      <th>Matérias</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @series.each do |serie| -%>
      <tr>
        <td><%= serie.id %></td>
        <td><%= serie.titulo %></td>
        <td>
          <ul class="unstyled">
            <% serie.materias.each do |materia| -%>
              <li><%= materia.nome %></li>
            <% end -%>
          </ul>
        </td>
        <td>
          <%= link_to 'Editar', edit_administrador_series_path(serie),
            :class => 'btn btn-mini' %>
          <%= link_to 'Deletar', administrador_series_path(serie), :method => :delete,
            :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
