<div class="page-header">
  <h1>Diário de Classe</h1>
</div>

<div class="page-header">
  <h4>
    <%= @disciplina.turma %> - <%= @disciplina %>
  </h5>
</div>

<div class="tabbable">
  <ul class="nav nav-pills">
    <% @disciplinas_professor.each do |disciplina| -%>
      <li><a href="#bimestre_<%= disciplina.bimestre %>" data-toggle="pill">
        <%= disciplina.bimestre %>º Bimestre</a></li>
    <% end -%>
  </ul>
  
  <div class="tab-content">
    <% @disciplinas_professor.each do |dp| -%>
      <div class="tab-pane" id="bimestre_<%= dp.bimestre %>">
        
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Aluno</th>
              <th>Total de Faltas</th>
              <th>Frequência</th>
              <% dp.avaliacoes.each do |avaliacao| -%>
                <th><%= avaliacao.titulo %></th>
              <% end -%>
            </tr>
          </thead>
          
          <tbody>
            <% @disciplina.turma.alunos.each do |aluno| -%>
              <tr>
                <td><%= aluno.nome %></td>
                <td>
                  <%= simple_form_for [:professor,dp,aluno.faltas_disciplina(dp)], :remote => true do |f| %>
                    <%= f.input :total, :label => false,
                      :input_html => { :class => 'span1 resultado_nota' } %>
                  <% end %>
                </td>
                <td><%= number_to_percentage(dp.frequencia(aluno), :precision => 0) %></td>
                <% dp.avaliacoes.each do |avaliacao| -%>
                  <td>
                    <%= simple_form_for [:professor, aluno.resultados.where(:avaliacao_id => avaliacao).first], :remote => true do |f| %>
                      <%= f.input :nota, :as => :string, :label => false, 
                        :input_html => { :class => 'span1 resultado_nota' } %>
                    <% end %>
                  </td>
                <% end -%>
              </tr>
            <% end -%>            
          </tbody>
        </table>
       
       <%= simple_form_for dp, :url => aulas_lecionadas_professor_disciplina_professor_path(dp), 
         :remote => true do |f| %>
         <%= f.input :aulas_do_dia, :label => 'Aulas lecionadas hoje', 
          :input_html => { :class => 'span1' } %>
         <%= f.button :submit, :value => 'Salvar', :class => 'btn-primary' %>
       <% end %>
       
      </div>      
    <% end -%>

</div>

<%= content_for :javascripts do %>
  <script type="text/javascript">
    $(function(){
      $('.resultado_nota, .resultado_nota').blur(function(){
        $(this).parent().parent().parent().submit();
      });
    });
  </script>
<% end %>
