<div class="page-header">
  <h2><%= @turma.nome %> - <%= @turma.serie %> <%= @turma.sala %></h2>
</div>


<div class="page-header">
  <h4>Disciplinas</h4>
</div>


<table class="table table-striped table-bordered" id="sortTable">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Professores</th>
      <th>Adicionar Professor</th>
  </thead>
  <tbody>
    <% @turma.disciplinas.each do |disciplina| -%>
      <tr>
        <td><%= disciplina.id %></td>
        <td><%= disciplina.materia.nome %></td>
        <td>
          <ul class="unstyled">
            <% disciplina.disciplina_professores.group_by(&:professor).each do |professor, dps| %>
              <li>
                <%= professor.nome %> 
                <ul >
                  <% dps.each do |dp| -%>
                    <li><strong>Bimestre <%= dp.bimestre %>: </strong>
                      <%= link_to 'Remover',  
                        administrador_disciplina_disciplina_professor_path(disciplina,dp),
                        :method => :delete, :class => 'btn btn-danger btn-mini'
                      %>
                    </li> 
                  <% end -%>
                </ul>

              </li>
            <% end -%>
          </ul>
        </td>
        <td><%= link_to 'Adicionar Professor', 
          add_professor_administrador_disciplina_path(disciplina), :remote => true,
          :class => 'btn add-professor-btn', 'data-toggle' => 'modal', 
          'data-materia' => disciplina.materia.id %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<div class="page-header">
  <h4>Alunos</h4>
</div>

<%= simple_form_for :aluno, :url => add_aluno_administrador_turma_path(@turma) do |f| %>
  <%= f.hidden_field :id %>
  <%= f.input :nome, :input_html => { 'data-source' => administrador_alunos_path } %>
  <%= f.button :submit, 'Adicionar Aluno' %>
<% end %>

<table class="table table-striped table-bordered" id="sortTable">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Responsável</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @turma.alunos.each do |aluno| -%>
      <tr>
        <td><%= aluno.id %></td>
        <td><%= aluno.nome %></td>
        <td><%= aluno.responsavel %></td>
        <td>
          <%= link_to 'Remover da Turma', 
            remover_aluno_administrador_turma_path(@turma, :aluno => aluno), 
            :method => :delete, :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>

<div class="modal fade" id="add-professor">
  <div class="modal-header">
    <a class="close" data-dismiss="mdal">×</a>
    <h3>Adicionar Professor</h3>
  </div>
  <div class="modal-body" id="add-professor-form-wrapper">
   
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary modal-save-btn">Salvar </a>
    <a href="#" class="btn modal-close-btn">Fechar</a>
  </div>
</div>

<%= content_for :javascripts do %>
  <script type="text/javascript">
    $(function(){
    
      $('#aluno_nome').autocomplete({
        source: $('#aluno_nome').data('source'),
        select: function(event, ui) {
          $('#aluno_id').val(ui.item.id);
        }
      }).data('autocomplete')._renderItem = function(ul, item) {
        return $('<li></li>')
          .data( "item.autocomplete", item )
				  .append( "<a>" + item.nome + "</a>" )
				  .appendTo( ul );
      };
    });
  </script>
<% end %>
