<!DOCTYPE html>
<html>
<head>
  <title>Sigac</title>
  <%= stylesheet_link_tag 'bootstrap.min', 'application', 'bootstrap-responsive.min' %>
  <%= javascript_include_tag 'jquery', 'jquery_ujs', 'application' %>
  <%= javascript_include_tag 'bootstrap/bootstrap.min' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Project name</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="<%= administrador_root_url %>">Principal</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Cadastrar <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Aluno', new_administrador_aluno_path  %></li>
                <li class="divider"></li>
                <li><%= link_to 'Série', new_administrador_series_path  %></li>
                <li><%= link_to 'Matéria', new_administrador_materia_path  %></li>
              </ul> 
            </li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <p class="navbar-text pull-right">
            <%= link_to 'Sair', destroy_administrador_session_path, 
              :method => :delete  %></p>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="foto">
        <ul class="thumbnails">
          <li>
            <a href="#">
              <%= image_tag 'foto_perfil2.jpg', :class => 'thumbnail' %>
            </a>
          </li>
        </ul>
        <center><h3>Matheus Silva</h3></center>
      </div>
      
    </div><!--/span-->
    <div class="span9 content-box">
      <%= yield %>
    </div>
  </div>
</div>


<%= yield :javascripts %>

</body>
</html>
